<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="fundoimg">
  <div id="container">
    <strong>Bem vindo ao App Dentista</strong>
    <p>Comece Escolhendo se deseja se cadastrar ou logar no Sistema! </p>
    <ion-button color="primary" routerLink="/centraldodentista">Central do Dentista</ion-button>
    <ion-button color="primary" routerLink="/centraldocliente">Central do Paciente</ion-button>
    <ion-button color="primary" routerLink="/teladecadastro">Tela de Cadastro</ion-button>

    
  
  </div>
 
</div>
</ion-content>
