body{
    background-image: url(../img/dentC:\Users\muril\OneDrive\Área de Trabalho\Minhas Coisas\TCC\TCCAPP\src\assets\icon\dentista.jpgista);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}